.book {
  width: 1240px;
  height: 100vh;
  display: flex;

  .image-wrapper {
    flex: 2;
    display: flex;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
    }

    .rating {
      padding: 10px;
      background: #fff0de;
      position: absolute;
      top: 20px;
      left: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .book-details-container {
    flex: 3;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 20px 10px;

    .details-intro {
      top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .intro {
        margin: 0;
      }

      .buttons-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
          padding: 5px 8px;
          border: none;
          cursor: pointer;
          color: white;
          border-radius: 3px;
        }

        .edit {
          background: #adacac;
        }

        .delete {
          background: #b1454a;
        }
      }
    }

    .book-details {
      margin-top: 60px;
      padding-left: 20px;

      .title {
        margin: 0;
      }

      .genre {
        margin: 8px 0;
        font-weight: 200;
        font-family: "Inter", serif;
      }

      .price {
        font-family: "Inter", serif;
        margin: 0;
        font-size: 16px;
        font-weight: 300;

        span {
          font-weight: 600;
        }
      }

      .desc {
        font-family: "Inter", serif;
        font-weight: 200;
        font-weight: 14px;
        line-height: 24px;
        margin-bottom: 0;

        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 4;
        // -webkit-box-orient: vertical;
      }

      .show-less {
        cursor: pointer;
        padding: 6px;
        border: none;
        background: transparent;
        background: rgba(90, 89, 89, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
      }

      .reviews {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4 {
          font-size: 18px;
          background: #fff0de;
          padding: 10px;
          width: fit-content;
          border-radius: 4px;
        }
      }
    }
  }
}
